<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reservations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="vBU_wGD1m-66utVCQkMPjMBqwNAZ_jTCYyonk5jfdrk" />
        <link rel="shortcut icon" type="image/x-icon" href="icon.png" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto+Slab" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.angularjs.org/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="date.js"></script>
    </head>
    <body style="background-color: #EE8080;">
        <div class="container">
            <div class="page-header">
                <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                    <div>
                        <a href="index.html">
                            <p id="nav">Home</p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                    <div>
                        <a href="aboutUs.html">
                            <p id="nav">About Us</p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                    <div>
                        <a href="contactUs.html">
                            <p id="nav">Contact Us</p>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-sm-3">
                    <div>
                        <a href="reservations.html">
                            <p id="nav">Reservations</p>
                        </a>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <img class="img-responsive" src="megaTravelLogo.jpg" alt="Mega Travel Logo" style="padding:10px;">
                </div>

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                </br></br></br>
                    <h3 style="font-size: 3.5em;">
                        Reservations
                    </h3>
                </br></br>
                </div>
            </div>

        <div class="row" style="font-size: 30px !important;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
            <div ng-app="formApp" 
                ng-controller="formController"
                style="text-align:center;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;"
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form ng-submit="processForm()">
                    <h3 style="font-size:64px;">
                        Cities
                    </h3>
                    <hr class="half-rule"/>

                    <div id="destination-group" class="form-group" ng-class="{ 'has-error' : errorDestination }">
                        <label>
                            <input type="radio" ng-model="formData.destination" value="City Tours, Sports, Cycling, Museums, Boating">
                            Brisbane
                            </label><br>

                            <label >
                            <input type="radio" ng-model="formData.destination" value="Museums, Sailing, Beach, Hiking, Boating">
                            Vancouver
                            </label><br>

                            <label >
                            <input type="radio" ng-model="formData.destination" value="Museums, Theatre, Parks and Recreation, City Tours">
                            New York City
                            </label><br>

                            <label >
                            <input type="radio" ng-model="formData.destination" value="City Tours, Museums, Cycling">
                            Berlin
                            </label><br>

                            <label >
                            <input type="radio" ng-model="formData.destination" value="Parks and Recreation, Beaches, Boating, Snorkeling">
                            Cancun
                        </label><br>

                        <span><strong>Activities available:</strong> {{formData.destination | json}}</span><br>
                        <span class="help-block" ng-show="errorDestination">{{ errorDestination }}</span>
                    </div>
            
                    <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }" style="width: 50%;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
                        <label>First and Last Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Guest" ng-model="formData.name" maxlength="20">
                        <span class="help-block" ng-show="errorName">{{ errorName }}</span>
                    </div>

                    <div id="adults-group" class="form-group" ng-class="{ 'has-error' : errorAdults }"style="width: 50%;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
                        <label>How many Adults</label>
                        <input type="number" name="adults" class="form-control" placeholder="#" ng-model="formData.adults" min="1" max="10">
                        <span class="help-block" ng-show="errorAdults">{{ errorAdults }}</span>
                    </div>
            
                    <div id="children-group" class="form-group" ng-class="{ 'has-error' : errorChildren }"style="width: 50%;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
                        <label>How many Children</label>
                        <input type="number" name="children" class="form-control" placeholder="#" ng-model="formData.children" min="0" max="10">
                        <span class="help-block" ng-show="errorChildren">{{ errorChildren }}</span>
                    </div>
                    
                    <div id="checkInDate-group" class="form-group" ng-class="{ 'has-error' : errorCheckInDate }"style="width: 50%;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
                        <label>Pick a check (in) date for your trip</label>
                        <input type="date" name="checkInDate" class="form-control" placeholder="" ng-model="formData.checkInDate">
                        <span class="help-block" ng-show="errorCheckInDate">{{ errorCheckInDate }}</span>
                    </div>
            
                    <div id="checkOutDate-group" class="form-group" ng-class="{ 'has-error' : errorCheckOutDate }"style="width: 50%;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
                        <label>Pick a check (out) date for your trip</label>
                        <input type="date" name="checkOutDate" class="form-control" placeholder="" ng-model="formData.checkOutDate">
                        <span class="help-block" ng-show="errorCheckOutDate">{{ errorCheckOutDate }}</span>
                    </div>
            
                    <div id="phone-group" class="form-group" ng-class="{ 'has-error' : errorPhone }"style="width: 50%;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
                        <label>Phone Number (format: x-xxx-xxx-xxxx)</label>
                        <input type="tel" name="phone" class="form-control bfh-phone"  placeholder="1-234-567-8910" ng-model="formData.phone" maxlength="20" >
                        <span class="help-block" ng-show="errorPhone">{{ errorPhone }}</span>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg btn-block" style="background-color: #37AFA9;width: 150px;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;">
                                Submit!
                    </button>
            
                    <button style="background-color: red; width: 150px;margin-right: auto; margin-left: auto; text-align: center; justify-content: center;"type="reset" class="btn btn-success btn-lg btn-block" ng-click="reset()" >
                                Clear Form
                    </button>

                    <br>

                    <div style="width: 50%; margin-right: auto; margin-left: auto; text-align: center; justify-content: center; ">
                        <p style="background-color: #37AFA9; border-radius: 5px;font-size: 30px; "><strong>Destination Activities:</strong> {{ formData.destination }} </p> 
                        <p style="background-color: #37AFA9; border-radius: 5px;font-size: 30px;"><strong>First and Last Name:</strong> {{ formData.name }}</p>
                        <p style="background-color: #37AFA9; border-radius: 5px;font-size: 30px;"><strong>Number of Adults:</strong> {{ formData.adults }}</p>
                        <p style="background-color: #37AFA9; border-radius: 5px;font-size: 30px;"><strong>Number of Children:</strong> {{ formData.children }}</p>
                        <p style="background-color: #37AFA9; border-radius: 5px;font-size: 30px;"><strong>Check In Date:</strong> {{ formData.checkInDate }}</p>
                        <p style="background-color: #37AFA9; border-radius: 5px;font-size: 30px;"><strong>Check Out Date:</strong> {{ formData.checkOutDate }}</p>
                        <p style="background-color: #37AFA9; border-radius: 5px;font-size: 30px;"><strong>Phone Number:</strong> {{ formData.phone }}</p>
                    </div>
                    <br>
            </div>

            <br>


            </form>
            <br><br><br><br>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()" style="text-align: center"><i class="fa fa-bars"></i></a>
        </div>

        <footer class="page-footer font-small blue">
            </br></br>
            <div class="footer text-center py-3">
                <a href="https://www.linkedin.com/in/londonolson/" style="color:black;font-size: 2em;"> LinkedIn Profile</a>
                <h3>This is a project for Educational purposes covered by Fair Use</h3>
            </div>
        </br></br>
        </footer>

    </body>
</html>
